<!--HEADER-->
<header id="myHeader" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">




    <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="height: 100px">
        <a class="navbar-brand bold" href="/home" style="font-family: Poppins-Bold,serif; font-size: 25px" >EMANAGE</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <th:block th:if="${username != null}">
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item m-3" style="color:whitesmoke;" th:text="${username} + ' (admin)'"></li>
                    </th:block>

                    <th:block sec:authorize="hasRole('ROLE_USER')">
                        <li class="nav-item m-3" style="color:whitesmoke;" th:text="${username}"></li>
                    </th:block>
                </th:block>




                <li class="nav-item m-3 ">
                    <form action="/home" method="get">
                        <button type="submit" class="btn btn-success btn-md"><i class="fa fa-user"></i>
                            Home page
                        </button>
                    </form>
                </li>

                <th:block sec:authorize="isAuthenticated()">
                                        <li class="nav-item m-3">
                                            <form action="/manage-companies" method="get">
                                                <button type="submit" class="btn btn-primary btn-md"><i class="fa fa-users"></i>
                                                   Companies
                                                </button>
                                            </form>
                                        </li>
                                    </th:block>
                                  

                                    <th:block sec:authorize="!isAuthenticated()">
                                        <li class="nav-item m-3">
                                            <form action="/login" method="get">
                                                <button type="submit" class="btn btn-light btn-md"><i class="fa fa-user"></i>
                                                    Login
                                                </button>
                                            </form>
                                        </li>
                                    </th:block>
                                    <th:block sec:authorize="!isAuthenticated()">
                                        <li class="nav-item m-3">
                                            <form action="/register" method="get">
                                                <button type="submit" class="btn btn-primary btn-md"><i class="fa fa-user-plus"></i>
                                                    Sign up
                                                </button>
                                            </form>
                                        </li>
                                    </th:block>
                                    <th:block sec:authorize="isAuthenticated()">
                                        <li class="nav-item m-3">
                                            <form action="/logout" method="get">
                                                <button type="submit" class="btn btn-danger btn-md"><i class="fa fa-user"></i>
                                                    Logout
                                                </button>
                                            </form>
                                        </li>
                                    </th:block>


            </ul>






    </nav>

<!--    <nav class="navbar  navbar-dark bg-dark" style="color: #1c2e4a">-->
<!--&lt;!&ndash;        <div class="container">&ndash;&gt;-->
<!--            <a class="navbar-brand" href="/home" style="font-family: Poppins-Bold,serif; font-size: 25px">EMANAGE</a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->

<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            &lt;!&ndash;<th:block th:if="${feedSearchFlag}">-->
<!--                <form method="post" action="/feed/search" class="form-inline my-2 my-lg-0 entitySearch">-->
<!--                    <div class="input-group input-group-sm">-->
<!--                        <input type="text" class="form-control" aria-label="Small"-->
<!--                               aria-describedby="inputGroup-sizing-sm"-->
<!--                               placeholder="Search ads..." name="queryString" id="attrName">-->
<!--                        <div class="input-group-append">-->
<!--                            <input class="btn btn-secondary btn-number" type="submit" value="Search"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </th:block>&ndash;&gt;-->
<!--            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">-->
<!--                <ul class="navbar-nav m-auto nmlist">-->
<!--                    <th:block th:if="${username != null}">-->
<!--                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                            <li class="nav-item" style="color:whitesmoke;" th:text="${username} + ' (admin)'"></li>-->
<!--                        </th:block>-->
<!--                        <th:block sec:authorize="hasRole('ROLE_USER')">-->
<!--                            <li class="nav-item" style="color:whitesmoke;" th:text="${username}"></li>-->
<!--                        </th:block>-->
<!--                    </th:block>-->
<!--                    <th:block sec:authorize="isAuthenticated()">-->
<!--                        <li class="nav-item">-->
<!--                            <form action="/" method="get">-->
<!--                                <button type="submit" class="btn btn-success"><i class="fa fa-user"></i>-->
<!--                                    View profile-->
<!--                                </button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                    </th:block>-->

<!--                        <li class="nav-item">-->
<!--                            <form action="/home" method="get">-->
<!--                                <button type="submit" class="btn btn-success"><i class="fa fa-user"></i>-->
<!--                                   Home page-->
<!--                                </button>-->
<!--                            </form>-->
<!--                        </li>-->

<!--                    <th:block sec:authorize="isAuthenticated()">-->
<!--                        <li class="nav-item">-->
<!--                            <form action="/manage-companies" method="get">-->
<!--                                <button type="submit" class="btn btn-primary"><i class="fa fa-users"></i>-->
<!--                                   Companies-->
<!--                                </button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                    </th:block>-->
<!--                    <th:block sec:authorize="hasRole('ROLE_USER')" >-->
<!--                        <li class="nav-item">-->
<!--                            <form action="/results" method="get">-->
<!--                                <button type="submit" class="btn btn-light"><i class="fa fa-file"></i>-->
<!--                                    View results-->
<!--                                </button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                    </th:block>-->

<!--                    <th:block sec:authorize="!isAuthenticated()">-->
<!--                        <li class="nav-item">-->
<!--                            <form action="/login" method="get">-->
<!--                                <button type="submit" class="btn btn-light"><i class="fa fa-user"></i>-->
<!--                                    Login-->
<!--                                </button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                    </th:block>-->
<!--                    <th:block sec:authorize="!isAuthenticated()">-->
<!--                        <li class="nav-item">-->
<!--                            <form action="/register" method="get">-->
<!--                                <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i>-->
<!--                                    Sign up-->
<!--                                </button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                    </th:block>-->
<!--                    <th:block sec:authorize="isAuthenticated()">-->
<!--                        <li class="nav-item">-->
<!--                            <form action="/logout" method="get">-->
<!--                                <button type="submit" class="btn btn-danger"><i class="fa fa-user"></i>-->
<!--                                    Logout-->
<!--                                </button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                    </th:block>-->
<!--                </ul>-->
<!--            </div>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </nav>-->
</header>