/*

Template 2106 Soft Landing

http://www.tooplate.com/view/2106-soft-landing

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background: #f9f9f9;
}



/*---------------------------------------
   TYPOGRAPHY
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: normal;
}

h1 {
    font-size: 3em;
}

h2 {
    color: #353535;
    font-size: 2em;
}

p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}



/*---------------------------------------
   GENERAL
-----------------------------------------*/

html{
    -webkit-font-smoothing: antialiased;
}

a {
    color: #202020;
    text-decoration: none !important;
}

a,
input, button,
.form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #29ca8e;
    outline: none;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #202020;
}

.section-title {
    padding-bottom: 40px;
}

section {
    position: relative;
    padding: 100px 0;
}

#contact,
footer {
    background: #ffffff;
    text-align: center;
}

.overlay {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.online-form {
    position: relative;
}

.online-form .form-control {
    border-color: #f0f0f0;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    box-shadow: none;
    height: 50px;
    margin-right: 0.5em;
    padding-left: 15px;
}

.online-form input[type="email"] {
    width: 60%;
}

.online-form button {
    background: #29ca8e;
    border: 0;
    color: #ffffff;
    position: absolute;
    right: 6em;
    width: 25%;
}

.online-form button:hover {
    background: #202020;
    color: #ffffff;
}



/*---------------------------------------
   BUTTONS
-----------------------------------------*/

.section-btn {
    background: #29ca8e;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 30px;
    transition: 0.5s 0.2s;
}

.section-btn:hover,
.section-btn:focus {
    background: #202020;
    color: #ffffff;
}



/*---------------------------------------
     PRE LOADER
-----------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
    margin-right: 52px;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}



/*---------------------------------------
    MENU
-----------------------------------------*/

.custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
}

.top-nav-collapse {
    background: #ffffff;
}

.custom-navbar .navbar-nav {
    margin-left: 6em;
}

.custom-navbar .nav li a {
    font-size: 16px;
    font-weight: normal;
    color: #f0f0f0;
    padding-right: 22px;
    padding-left: 22px;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #29ca8e;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #29ca8e;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #29ca8e;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        border-bottom: 0;
        background: 0 0;
    }

    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }

    .top-nav-collapse .navbar-brand {
        color: #252525;
    }

    .top-nav-collapse .nav li a {
        color: #575757;
    }

    .top-nav-collapse .nav .section-btn a {
        color: #ffffff;
    }
}



/*---------------------------------------
    HOME
-----------------------------------------*/

#home {
    background: url('../images/home-bg.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 12em;
    text-align: center;
}

#home h1 {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 850px;
    margin-left: -140px;
}

.home-info {
    margin-top: 7em;
}

.home-info h3 {
    color: #f0f0f0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0;
}

#getstarted {
    margin-right: 136px;
}


/*---------------------------------------
    FEATURE
-----------------------------------------*/

#feature {
    background: #ffffff;
}

#feature .nav-tabs {
    border-bottom: 0;
}

#feature .nav>li>a {
    padding: 8px 0;
}

#feature .nav-tabs>li>a {
    color: #999999;
    font-size: 18px;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    margin-right: 35px;
}

#feature .nav-tabs>li.active>a,
#feature .nav-tabs>li.active>a:focus,
#feature .nav-tabs>li.active>a:hover {
    background: transparent;
    color: #202020;
    border-bottom: 3px solid #29ca8e;
}

#feature .nav>li>a:focus,
#feature .nav>li>a:hover {
    background: transparent;
    border-bottom: 3px solid #29ca8e;
    color: #202020;
}

#feature .tab-content {
    margin-top: 50px;
}

.tab-pane-item {
    margin: 20px 0;
}

.tab-pane-item h2 {
    margin: 0 0 5px 0;
}

.feature-image {
    position: absolute;
    bottom: -27em;
}



/*---------------------------------------
    ABOUT
-----------------------------------------*/

#about .col-md-4 {
    margin: 0;
    padding: 0;
}

.team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
}

.team-thumb-up:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
}

.team-thumb-down:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #ffffff;
}

.team-info {
    position: relative;
    padding: 40px;
}

.team-info h2 {margin: 0;}

.team-info small {
    display: block;
    font-size: 18px;
    margin: 5px 0 10px 0;
}

.team-thumb img {
    width: 100%;
}



/*---------------------------------------
    TESTIMONIAL
-----------------------------------------*/

#testimonial {
    background: #ffffff;
}

#testimonial .col-md-6 {
    margin: 0;
    padding: 0;
}

#testimonial .section-title {
    padding-bottom: 0;
}

#testimonial h1 {
    color: #ffffff;
}

.testimonial-image {
    background: url('../images/testimonial-image.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 65vh;
}

.testimonial-info {
    background: #202020;
    padding: 60px;
    height: 65vh;
}

.testimonial-info h3 {
    color: #d9d9d9;
    font-style: italic;
    margin-top: 5px;
}

.testimonial-info .item {
    display: block;
    width: 100%;
}

.testimonial-item {
    margin: 20px 0;
}

.owl-carousel .owl-item img,
.testimonial-item img,
.testimonial-item h4 {
    color: #d9d9d9;
    display: inline-block;
    vertical-align: top;
}

.owl-carousel .owl-item img,
.testimonial-item img {
    border: 3px solid #ffffff;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}



/*---------------------------------------
    PRICING
-----------------------------------------*/

#about .section-title,
#pricing .section-title {
    text-align: center;
}

#pricing .col-md-4 {
    margin: 0;
    padding: 0;
}

#pricing .col-md-4:last-child .pricing-thumb {
    border-right: 0;
}

.pricing-thumb {
    background: #ffffff;
    border-right: 2px solid #f0f0f0;
    padding: 20px 40px;
}

.pricing-title {
    padding-bottom: 5px;
}

.pricing-info {
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

.pricing-info,
.pricing-bottom {
    padding: 20px 0;
}

.pricing-info p {
    font-size: 16px;
}

.pricing-bottom {
    position: relative;
}

.pricing-bottom span {
    font-size: 20px;
}

.pricing-btn {
    position: absolute;
    top: 15px;
    right: 0;
    display: inline-block;
}



/*---------------------------------------
    CONTACT
-----------------------------------------*/

/*#contact-form .col-md-12,
#contact-form .col-md-4 {
    padding-left: 0;
}

#contact-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 3px solid #f0f0f0;
    border-radius: 0;
    box-shadow: none;
    margin: 10px 0;
}

#contact-form .form-control:focus {
    border-bottom-color: #202020;
}

#contact-form input {
    height: 50px;
}

#contact-form input[type='submit'] {
    background: #202020;
    background: red;
    border-radius: 50px;
    border: 0;
    color: #ffffff;
}

#contact-form input[type='submit']:hover {
    background: #29ca8e;
    color: #ffffff;
}

*/

/*---------------------------------------
   FOOTER
-----------------------------------------*/

/*footer {*/
/*  padding-bottom: 80px;*/
/*}*/


.copyright-text p {
    margin: 5px;
}


/*---------------------------------------
   SOCIAL ICON
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border-radius: 50px;
    color: #202020;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0;
}

.social-icon li a:hover {
    background: #536976;
    color: #ffffff;
}



/*---------------------------------------
   RESPONSIVE STYLES
-----------------------------------------*/

@media only screen and (max-width: 1200px) {

    .custom-navbar .navbar-nav {
        margin-left: 3em;
    }

    .home-info {
        margin-top: 0;
    }
}


@media only screen and (max-width: 992px) {

    section {
        padding: 60px 0;
    }

    .custom-navbar .navbar-nav {
        margin-left: 0;
    }

    .custom-navbar .nav li a {
        font-size: 14px;
        padding-right: 15px;
        padding-left: 15px;
    }

    #feature .nav-tabs>li>a {
        font-size: 16px;
        margin-right: 20px;
    }

    .feature-image {
        bottom: -24em;
    }

    .pricing-thumb {
        margin-bottom: 30px;
    }

    footer {
        padding-bottom: 40px;
    }
}


@media screen and (max-width: 767px) {

    .section-title {
        padding-bottom: 20px;
    }

    .custom-navbar {
        background: #ffffff;
        -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        text-align: center;
    }

    .custom-navbar .nav li a {
        line-height: normal;
        padding: 5px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
        color: #202020;
        font-weight: normal;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
        color: #656565;
    }

    .feature-image {
        position: relative;
        bottom: 0;
    }

    #about .col-md-4:nth-child(3n) .team-thumb {
        display: flex;
        -webkit-box-orient: vertical;
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
    }

    .team-thumb-down:after {
        top: -15px;
        bottom: inherit;
        border-top: inherit;
        border-bottom: 15px solid #ffffff;
    }

    .testimonial-image,
    .testimonial-info {
        height: 85vh;
    }

    .testimonial-info {
        padding: 30px;
    }
}


@media screen and (max-width: 480px) {

    .online-form {
        margin-right: 135px
    }

    .online-form .form-control {
        width: 85%;
    }

    .online-form .form-control {
        display: block;
        margin: 20px auto;
        margin-left: -50px;
    }

    .online-form button {
        position: relative;
        right: 0;
    }

    .testimonial-image,
    .testimonial-info {
        height: 65vh;
    }
}

/* IVO */

/*#feed {*/
/*  background-size: cover;*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
/*  min-height: 100vh;*/
/*  padding-top: 12em;*/
/*}*/

#feed {
    left: 25%;
    margin-top: -17px;
}

.nmlist li {
    padding-bottom: 10px;
}

body{
    margin-top:20px;
    background:#eee;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom

}

.avatar i {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.avatar-online i {
    background-color: #4caf50
}

.avatar-off i {
    background-color: #616161
}

.avatar-busy i {
    background-color: #ff9800
}

.avatar-away i {
    background-color: #f44336
}

.avatar-100 {
    width: 100px
}

.avatar-100 i {
    height: 20px;
    width: 20px
}

.avatar-lg {
    width: 50px
}

.avatar-lg i {
    height: 12px;
    width: 12px
}

.avatar-sm {
    width: 30px
}

.avatar-sm i {
    height: 8px;
    width: 8px
}

.avatar-xs {
    width: 20px
}

.avatar-xs i {
    height: 7px;
    width: 7px
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid transparent;
}

.editButton {
    display: inline;
}

/* MATEJ */

/*#test {*/
/*  background-size: cover;*/
/*  display: -webkit-box;*/
/*  display: -webkit-flex;*/
/*  display: -ms-flexbox;*/
/*  min-height: 100vh;*/
/*  padding-top: 12em;*/
/*}*/

.card {
    -moz-border-radius: 2%;
    -webkit-border-radius: 2%;
    border-radius: 2%;
    box-shadow: 5px 5px 0 rgba(0,0,0,0.08);
}

.profile .profile-body {
    padding: 20px;
    background: #f7f7f7;
}

.profile .profile-bio {
    background: #fff;
    position: relative;
    padding: 15px 10px 5px 15px;
}

.profile .profile-bio a {
    left: 50%;
    bottom: 20px;
    margin: -62px;
    text-align: center;
    position: absolute;
}

.profile .profile-bio h2 {
    margin-top: 0;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    color: #585f69;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-size: 24px;
    line-height: 33px;
}

p, li, li a {
    color: #555;
}

body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}

body {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}





