<!--<section xmlns:th="http://www.thymeleaf.org">-->
<!--<div class="background">-->
<!--    <div class="container-fluid">-->
<!--    <img src="../images/joanna-kosinska-3BgkveM3y_k-unsplash.jpg" class="img-fluid image-background" >-->
<!--    </div>-->

<!--&lt;!&ndash; CONTACT &ndash;&gt;-->
<!--<section id="contact-about" data-stellar-background-ratio="0.5" class="contact-form-responsive">-->
<!--    <div class="container contain-content">-->
<!--        <div class="row">-->
<!--            <div class="col-md-offset-1 col-md-12 col-sm-6 content-holder">-->
<!--                <div class="section-title">-->
<!--                    <h1 class="title-section">Emanage</h1>-->
<!--                </div>-->
<!--                <div class="col-md-12 col-sm-4 ">-->
<!--                    Manage everythig about your employees in one place.-->
<!--                    With one click you can organize your entire company.-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--            <div class="row">-->
<!--            <div class="col-md-offset-1 col-md-12 col-sm-6 form-holder">-->
<!--                <form id="contact-form" role="form" action="" method="post">-->
<!--                    <div class="section-title">-->
<!--                        <h1>Say hello to us</h1>-->
<!--                    </div>-->

<!--                    <div class="col-md-12 col-sm-4">-->
<!--                        <input type="text" class="form-control" placeholder="Full name" name="name" required>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 col-sm-4">-->
<!--                        <input type="email" class="form-control" placeholder="Email address" name="email" required>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 col-sm-12">-->
<!--                        <textarea class="form-control" rows="8" placeholder="Your message" name="message" required></textarea>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 col-sm-4">-->
<!--                        <input type="submit" class="form-control" name="send message" value="Send Message">-->
<!--                    </div>-->

<!--                </form>-->
<!--            </div>-->
<!--            </div>-->

<!--    </div>-->

<!--</section>-->
<!--</div>-->
<!--</section>-->




<section xmlns:th="http://www.thymeleaf.org">
    <div class="background">
        <div class="container-fluid">
            <img src="../images/joanna-kosinska-3BgkveM3y_k-unsplash.jpg" class="img-fluid image-background" >
        </div>

        <!-- CONTACT -->
        <section id="contact-about" data-stellar-background-ratio="0.5" class="contact-form-responsive">
            <div class="container contain-content">
                <div class="row">
                    <div class="col-md-offset-1 col-md-12 col-sm-6 content-holder">
                        <div class="section-title">
                            <h1 class="title">Emanage</h1>
                        </div>
                        <div class="text">
                            Manage everythig about your employees in one place.
                            With one click you can organize your entire company.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-12 col-sm-6 form-holder">
                        <form id="contact-form" role="form" action="" method="post">
                            <div class="section-title">
                                <h1 class="titleform">Say hello to us</h1>
                            </div>

                            <div class="col-md-12 col-sm-4">
                                <input type="text" class="form-control" placeholder="Full name" name="name" required>
                            </div>
                            <div class="col-md-12 col-sm-4">
                                <input type="email" class="form-control" placeholder="Email address" name="email" required>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <textarea class="form-control" rows="8" placeholder="Your message" name="message" required></textarea>
                            </div>
                            <div id="button" class="col-md-12 col-sm-4">
                                <input type="submit" class="form-control" name="send message" value="Send Message">
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </section>
    </div>
</section>