<section xmlns:th="http://www.thymeleaf.org">
    <div class="container bootstrap snippets bootdey autoScroll">
        <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <form  action="/manage-companies/add" method="POST" th:object="${company}" enctype="multipart/form-data" class="col-md-12">

<!--                    <input id="id" type="hidden" name="id" th:value="(${company} != null ? ${company.getId()} : '')">-->

                    <div class="form-group col-lg-6" >
                    <label class="text-uppercase gj-font-size-16"> Company Photo</label>
                    <div runat="server">
                        <input type="file" class="btn btn-primary text-uppercase form-control" name="image"
                               th:src="(${company} != null ? ${company.getImageSource()} : '')"
                        id="imgInp" style="width:50%">

                        <img src="#" alt="image" id="blah" class="img-thumbnail md-margin-bottom-10"
                             >

                    </div>

                    </div>

                    <div class="col-lg-6 ">
                        <h2 class="col-lg-12"> Company Information</h2>

                        <div class="form-group col-lg-12">
                            <label for="name">Name</label>
                            <input id="name" name="name" type="text" class="form-control validate-input">
<!--                            th:value="(${company} != null ? ${company.getName()} : '')">-->
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="name">Description</label>
                            <input id="name" name="description" type="text" class="form-control validate-input">
<!--                                   th:value="(${company} != null ? ${company.getDescription()} : '')"-->


                        </div>
                        <div class="form-group col-lg-12">
                            <label for="name">Moto</label>
                            <input id="name" name="moto" type="text" class="form-control validate-input">
<!--                                   th:value="(${company} != null ? ${company.getMoto()} : '')">-->
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="name">Owner</label>
                            <input id="name" name="owner" type="text" class="form-control validate-input">
<!--                                   th:value="(${company} != null ? ${company.getOwner()} : '')" >-->
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="name">Number of Employees</label>
                            <input id="name" name="numEmployee" type="text" class="form-control validate-input">
<!--                                   th:value="(${company} != null ? ${company.getEmployee_num()} : '')" >-->
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="name">Number of Interns</label>
                            <input id="name" name="numInterns" type="text" class="form-control validate-input">
<!--                                   th:value="(${company} != null ? ${company.getIntern_num()} : '')" >-->
                        </div>
                        <div class="form-group col-lg-6">

                            <button type="submit" class="btn btn-primary btn-block text-uppercase mb-3" style="width:50%">Save company</button>
                            <a href="/manage-companies" type="reset" class="btn btn-primary" >Cancel</a>
                        </div>



            </div>
                </form>


        </div>


    </div>
    </div>
    </div>
</section>