<section xmlns:th="http://www.thymeleaf.org">
    <div class="container">

        <h2 class="font-weight-bold ">Add Intern Information Form</h2>
        <hr />
        <hr/>
        <div class="tab-pane" id="edit">



            <form th:action="@{'/employees/addIntern/{id}'(id=${company.getId()})}" th:object="${company}" method="POST"  enctype="multipart/form-data">

                <h3 class="font-weight-bold">Personal information</h3>
                <br/>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Name</label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text"
                               id="name"
                               name="name"
                               placeholder="Enter intern name" required>
                        <!--                                   th:value="(${employee} != null ? ${employee.getName()} : '')"-->

                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" type="text"
                               id="surname"
                               name="surname"
                               placeholder="Enter intern surname" required>
                        <!--                       th:value="(${employee} != null ? ${employee.getSurname()} : '')"-->


                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Embg</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"
                               id="embg"
                               name="embg" placeholder="Enter intern embg" required >

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>

                    <div class="col-lg-8">
                        <input class="form-control" type="text"
                               id="phone"
                               name="phone" placeholder="Enter phone number" required>
                        <!--                       th:value="(${employee} != null ? ${employee.getPhone()} : '')"-->
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="email"
                               id="email"
                               name="email"  placeholder="Enter email" required>
                        <!--                       th:value="(${employee} != null ? ${employee.getEmail()} : '')"-->


                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Change picture</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="file" name="personImage"  accept="image/png, image/jpeg">

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                    <div class="col-lg-4">
                        <input class="form-control" type="text"
                               id="street"
                               name="street"  placeholder="street" required>
                        <!--                       th:value="(${employee} != null ? ${employee.getStreet()} : '')"-->


                    </div>
                    <br/>
                    <br/>


                    <div class="col-lg-4">
                        <input class="form-control" type="text"
                               id="city"
                               name="city" placeholder="Enter city" required>
                        <!--                       th:value="(${employee} != null ? ${employee.getCity()} : '')"-->

                        <!--                       placeholder="Enter product name">-->
                    </div>

                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"
                               id="country"
                               name="country" placeholder="Enter country" required>
                        <!--                       th:value="(${employee} != null ? ${employee.getCountry()} : '')"-->

                        <!--                       placeholder="Enter product name">-->
                    </div>
                </div>
                <br/>
                <br/>

                <h3 class="font-weight-bold ">Work information</h3>
                <br/>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Internship Section</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"
                               id="job"
                               name="internship_section" placeholder="Enter job title" required>
                        <!--                       th:value="(${employee} != null ? ${employee.getJobTitle()} : '')"-->


                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Department</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"
                               id="department"
                               name="department" placeholder="Enter department" required>
                        <!--                       th:value="(${employee} != null ? ${employee.getDepartment()} : '')"-->

                        <!--                       placeholder="Enter product name">-->
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Internship Start</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="date"

                               id="date"
                               name="internship_start"
                        >
                        <!--                       th:datetime="(${employee} != null ? ${employee.getEmploymentDate()} : '')">-->
                        <!--                       th:value="(${employee} != null ? ${employee.getEmploymentDate()} : '')">-->

                        <!--pattern="yyyy-MM-dd"-->
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Salary</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="number"
                               id="salary"
                               name="internship_salary" placeholder="Enter salary" required>
                        <!--                       th:value="(${employee} != null ? ${employee.getSalary()} : '')"-->

                        <!--                       placeholder="Enter product name">-->
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Experience</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="number"
                               id="experience"
                               name="experience" placeholder=" Experience">
                        <!--                       th:value="(${employee} != null ? ${employee.getExperience()} : '')"-->

                        <!--                       placeholder="Enter product name">-->
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Projects</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="number"
                               id="projects"
                               name="projects" placeholder="Enter number of projects" required>
                        <!--                       th:value="(${employee} != null ? ${employee.getProjects()} : '')"-->

                        <!--                       placeholder="Enter product name">-->
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Status</label>
                    <div class="col-lg-8">

                        <input class="form-control" type="text"
                               id="status"
                               name="status" placeholder="Enter intern status" required>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Internship duration</label>
                    <div class="col-lg-8">

                        <input class="form-control" type="number"
                               id="status"
                               name="intership_duration" placeholder="Enter duration of internship">

                    </div>
                </div>

                <br>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-8">
                        <button type="submit" class="btn btn-primary" >Save Intern</button>
                        <a type="reset" class="btn btn-secondary"  th:href="@{'/employees/{id}'(id=${company.getId()})}">Cancel</a>


                    </div>
                </div>
            </form>
        </div>
    </div>
</section>