<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      style="margin: 0; padding: 0;">

<head>
    <meta charset="UTF-8"/>
    <title>EMANAGE</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../css/tooplate-style.css">
</head>

<body style="margin: 0; padding: 0;">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>


<!-- HEADER -->
<header class="navbar custom-navbar navbar-fixed-top" role="navigation">

    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <img src="../images/logo-transparent.png" style="height: 110px; width: 130px;">
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" class="smoothScroll">Home</a></li>


                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <li><a href="/manage-companies" class="smoothScroll">Manage companies</a></li>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_USER')">
                        <li><a href="/manage-companies" class="smoothScroll">View companies</a></li>
                    </th:block>



                <li><a href="/about-us" class="smoothScroll">About us</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">

                <li sec:authorize="!isAuthenticated()"><a href="/login">LOGIN</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/register">SIGN UP</a></li>
                <th:block th:if="${username} != null">
                    <li><a href="/manage-companies" id="pageUsername" th:text="${username}"></a></li>
                </th:block>
                <li sec:authorize="isAuthenticated()"><a href="/logout">LOGOUT</a></li>
            </ul>
        </div>

    </div>
</header>

<!-- FEATURE -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-3 col-md-6 col-sm-12">
                <div class="home-info">
                    <h3>emanage</h3>
                    <h1>Great for people. Great for companies. Manage your company or find a job/internship today!</h1>
                    <div id="getstarted">
                        <form method="get" action="/register" class="online-form">
                            <button type="submit" class="form-control">Get started</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->
<footer id="footer" data-stellar-background-ratio="0.5" style="height: 95px;">
    <div class="container">
        <div class="row" style="margin-left: 350px">
            <div class="copyright-text col-md-12 col-sm-12">
                <div class="col-md-6 col-sm-6">
                    <p style="margin-top: 15px">Copyright &copy; 2021 EMANAGE</p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <ul class="social-icon" style="margin-top: 5px">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- SCRIPTS -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.stellar.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/smoothscroll.js"></script>
<script src="../js/custom.js"></script>

</body>

</html>