<section xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="profile-card-4 z-depth-3">
                    <div class="card">
                        <div class="card-body text-center bg-primary  rounded-top">
                            <div class="user-box">
                                <img th:src="${intern.getImageSource()}" alt="personImage">
                            </div>
                            <!--              <h5 class="mb-1 text-white"  ></h5>-->
                            <h6 class="text-light" th:text="${intern.getName()} + ${intern.getSurname}" > </h6>

                        </div>
                        <div class="card-body">
                            <ul class="list-group shadow-none">
                                <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class="fa fa-phone-square"></i>
                                    </div>
                                    <div class="list-details">
                                        <span th:text="${intern.getPhone()}" ></span><br/>
                                        <small >Mobile Phone</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class="fa fa-envelope"></i>

                                    </div>
                                    <div class="list-details">
                                        <span th:text="${intern.getEmail()}"></span><br/>
                                        <small >Email Address</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                    <div class="list-details">
                                        <span th:text="${intern.getIntership_section()}"></span><br/>
                                        <small>Internship Section</small>
                                    </div>
                                </li>
                            </ul>
                            <div class="row text-center mt-4">
                                <div class="col p-2">
                                    <h4 class="mb-1 line-height-5" th:text="${intern.getProjects()}" ></h4>
                                    <small class="mb-0 font-weight-bold">Projects</small>
                                </div>
                                <div class="col p-2">
                                    <h4 class="mb-1 line-height-5"  th:text="${intern.getExperience()}"></h4>
                                    <small class="mb-0 font-weight-bold">Experience</small>
                                </div>
                                <div class="col p-2">
                                    <h4 class="mb-1 line-height-5" th:text="${intern.getIntership_salary()}"  ></h4>
                                    <small class="mb-0 font-weight-bold" >Internship Salary</small>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card z-depth-3">
                    <div class="card-body">
                        <ul class="nav nav-pills nav-pills-primary nav-justified">
                            <li class="nav-item">
                                <a href="#profile" data-url="/profile" data-toggle="tab" class="nav-link active "><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#edit" data-url="/edit" data-toggle="tab" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                            </li>
                        </ul>

                        <!--                Profile information -->
                        <div class="tab-content p-5 ">
                            <div class="tab-pane active " id="profile">

                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="mb-3 font-weight-bold">Personal Information</h3>
                                        <div>
                                            <h4>Embg</h4>
                                            <p th:text="${intern.getEmbg()}">

                                            </p>
                                        </div>


                                        <div>
                                            <h4>Address</h4>
                                            <p th:text="${intern.getStreet()} + ${intern.getCity()} + ${intern.getCountry()}">

                                            </p>
                                        </div>



                                    </div>


                                    <!--                        Second half of panel -->

                                    <div class="col-md-6">
                                        <h3 class="mb-3 font-weight-bold">Work Information</h3>
                                        <div>
                                            <h4>Department</h4>
                                            <p th:text="${intern.getDepartment()}">

                                            </p>
                                        </div>
                                        <div>
                                            <h4>Internship start</h4>
                                            <p th:text="${intern.getIntership_start()}" >
                                            </p>
                                        </div>

                                    </div>



                                </div>
                                <!--/row-->
                            </div>
                            <div class="tab-pane" id="edit" >

                                <form th:action="@{'/intern-profile/add/{id}'(id=${intern.getId()})}" method="POST"  enctype="multipart/form-data">

                                    <input id="id" type="hidden" name="id" th:value="(${intern} != null ? ${intern.getId()} : '')">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text"
                                                   id="name"
                                                   name="name"
                                                   th:value="(${intern} != null ? ${intern.getName()} : '')"
                                                   placeholder="Enter name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="text"
                                                   name="surname"
                                                   th:value="(${intern} != null ? ${intern.getSurname()} : '')"
                                                   placeholder="Enter intern surname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="text" th:value="(${intern} != null ? ${intern.getPhone()} : '')"
                                                   name="phone"
                                                   placeholder="Enter phone number">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="email" th:value="(${intern} != null ? ${intern.getEmail()} : '')"
                                                   placeholder="Enter company name"
                                                   name="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Change profile</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="file"   accept="image/png, image/jpeg"
                                                   name="personImage" th:src="(${intern} != null ? ${intern.getImageSource()} : '')">
                                            <!--                                <img th:src="${employee.getImageSource()}" alt="image" id="blah" name="personImage"-->
                                            <!--                                >-->

                                        </div>
                                    </div>



                                    < <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Internship Section</label>
                                    <div class="col-lg-9 input-group-lg">
                                        <input class="form-control" th:value="(${intern} != null ? ${intern.getIntership_section()} : '')"
                                               name="internship_section" placeholder="Enter company name">
                                    </div>
                                </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                        <div class="col-lg-9 mb-4 input-group-lg">
                                            <input class="form-control" type="text" th:value="(${intern} != null ? ${intern.getStreet()} : '')"
                                                   name="street" placeholder="Enter street">
                                        </div>



                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-6 input-group-lg">
                                            <input class="form-control" type="text" th:value="(${intern} != null ? ${intern.getCity()} : '')"
                                                   placeholder="Enter city"
                                                   name="city">
                                        </div>

                                        <div class="col-lg-3 input-group-lg">
                                            <input class="form-control" type="text" th:value="(${intern} != null ? ${intern.getCountry()} : '')"
                                                   placeholder="Enter country"
                                                   name="country">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Department</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="text" th:value="(${intern} != null ? ${intern.getDepartment()} : '')"
                                                   placeholder="Enter department"
                                                   name="department">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Internship start</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="date"

                                                   id="date"
                                                   name="internship_start"
                                                   th:value="(${intern} != null ? ${intern.getIntership_start()} : '')">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Embg</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="text"

                                                   id="embg"
                                                   name="embg"
                                                   th:value="(${intern} != null ? ${intern.getEmbg()} : '')"
                                                   placeholder="Enter embg">

                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Internship Salary</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="text"
                                                   id="salary"
                                                   name="internship_salary"
                                                   th:value="(${intern} != null ? ${intern.getIntership_salary()}: '')"

                                                   placeholder="Salary">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Experience</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="text"
                                                   id="experience"
                                                   name="experience"
                                                   th:value="(${intern} != null ? ${intern.getExperience()} : '')"

                                                   placeholder="Enter experience in years">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Projects</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="text"
                                                   id="projects"
                                                   name="projects"
                                                   th:value="(${intern} != null ? ${intern.getProjects()} : '')"

                                                   placeholder="Enter number of projects">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Internship duration</label>
                                        <div class="col-lg-9 input-group-lg">
                                            <input class="form-control" type="number"
                                                   id="projects"
                                                   name="intership_duration"
                                                   th:value="(${intern} != null ? ${intern.getIntership_duration()} : '')"

                                                   placeholder="Enter product name">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <br/>
                                        <label class="col-lg-3 col-form-label form-control-label" type="hidden"></label>
                                        <div class="col-lg-9 float-right">
                                            <a th:href="@{'/intern-profile/{id}'(id=${intern.getId()})}"type="reset" class="btn btn-dark" value="Cancel">Cancel</a>
                                            <button id="submit" type="submit" class="btn btn-dark">Save</button>

                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
